body {
/** font-family: 'Lora', 'Times New Roman', serif; */
}


.container-gallery {
border: thin solid red;
position: relative;
}

.galleryTable {
overflow-y: auto;
display: inline-block;
}

.galleryItem {
width: 164px;
height: 164px;
float: left;
}

.galleryImage {
width: 160px;
height: 160px;
}




/** arrows for expandable thumbnail */
.arrow-up {
  display: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid blue;
}


.expand__close {
  color: DarkGrey;
  font-size: 50px;
  line-height: 50px;
  text-decoration: none;
  z-index: 9999999;
  position: absolute;
  right: 100px;
}

.expand__close:before {
  content: '×';
}

.expand__close:hover {
  color: #fff;
}
